<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-title> Configuración de la página. </ion-title>
  </ion-toolbar>

  <div class="full-page">
    <app-form class="full-page" (sendData)="addItem($event)"> </app-form>
  </div>

  <div class="ion-segmenAnimes">
    <h2 class="list-title" *ngIf="listAnime.length > 0"> Animes agregados: </h2>
    <app-list-component class="list-container" [showButtonList]="false" [showTitle]="false" [list]="listAnime"> </app-list-component>
  </div>

</ion-content>
