<ion-content [fullscreen]="true">

  <ion-card class="filter-container">
    <ion-card-header>
      <ion-card-title>Filtrar Animes</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ion-item>
        <ion-input class="custom-colorLabel" type="text" placeholder="Ej. Naruto, One Piece..." label="Nombre"
        labelPlacement="floating"></ion-input>
      </ion-item>
  
      <ion-item>
        <ion-select class="custom-colorLabel" placeholder="Selecciona un género" label="Genero">
          <ion-select-option value="accion">Acción</ion-select-option>
          <ion-select-option value="aventura">Aventura</ion-select-option>
          <ion-select-option value="comedia">Comedia</ion-select-option>
          <ion-select-option value="drama">Drama</ion-select-option>
          <ion-select-option value="fantasia">Fantasía</ion-select-option>
        </ion-select>
      </ion-item>
      
      <ion-item>
        <ion-select placeholder="Seleccionar:" class="custom-colorLabel" label="Tipo">
          <ion-select-option value="popularidad">Popularidad</ion-select-option>
          <ion-select-option value="mejor_puntuado">Mejor Puntuado</ion-select-option>
          <ion-select-option value="reciente">Más Reciente</ion-select-option>
        </ion-select>
      </ion-item>
  
    </ion-card-content>
    <ion-button class="custom_button button_card" expand="full">Aplicar Filtros</ion-button>
  </ion-card>
  

  <app-list-component [list]="listAnimes"></app-list-component>

</ion-content>
