// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
    --primary-color: #ff84e8;
    --primary-color-rgba: rgba(255, 132, 232,0.13);
    --primary-background-color: #0b0b0c;
    --secondary-color: #7f2ccb;
    --light-color: #ffa9e7;
    --contrast-color: #97efe9;
    --shadow-color: #2a2d43;
  }
  