.custom-colorLabel{
    --highlight-color: #f0f
}

.alert{
    color: var(--primary-color);
}

.container{
    width: 100%;
}
 
.custom_button:hover{
    --background: var(--highlight-color);
    --color: var(--light-color);
    transition: 1s;
}

span{
    padding-left: 1.2rem;
    font-weight: lighter;
    color: var(--primary-color);
    font-size: smaller;

    .absolute{
        position: absolute;
        top:0;
        right: 0;
    }
}
