.custom-colorLabel{
    --highlight-color: #f0f
}

.alert{
    color: var(--primary-color);
}

.container{
    width: 100%;
}

.custom_button {
    --background: var(--primary-background-color);
    --color: var(--primary-color)
  }
 
.custom_button:hover{
    --background: var(--highlight-color);
    --color: var(--light-color);
    transition: 1s;
}
