<div class="container">
  <h2> Formulario:  </h2>
  <form>
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-input
                class="custom-colorLabel"
                [(ngModel)]="title"
                name="title"
                label="Titulo"
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                class="custom-colorLabel"
                [(ngModel)]="episodes"
                name="episodes"
                type="number"
                label="Episodios"
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-select
                class="custom-colorLabel"
                [(ngModel)]="status"
                name="status"
                label="Estado"
                labelPlacement="floating"
              >
              <ion-select-option *ngFor="let option of statusList" [value]="option">
                {{ option }}
              </ion-select-option>
            </ion-select>
            </ion-item>
          </ion-list>
        </ion-col>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-input
                class="custom-colorLabel"
                [(ngModel)]="title_japanese"
                name="title_japanese"
                label="Titulo japones"
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                class="custom-colorLabel"
                [(ngModel)]="score"
                name="score"
                type="number"
                label="Puntaje"
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
            <ion-item>
              <ion-input
                class="custom-colorLabel"
                [(ngModel)]="imgUrl"
                name="imgUrl"
                type="url"
                label="Imagen"
                labelPlacement="floating"
              ></ion-input>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <p>Genero:</p>
          <ion-item>
            <ion-select
              class="custom-colorLabel"
              [(ngModel)]="name_genre"
              name="name_genre"
              placeholder="Nombre del género"
            >
              <ion-select-option *ngFor="let option of genresList" [value]="option">
                {{ option }}
              </ion-select-option>
            </ion-select>

            <ion-select
              class="custom-colorLabel"
              placeholder="Selecciona tipo"
              name="type_select"
              [(ngModel)]="type_select"
            >
              <ion-select-option *ngFor="let option of types" [value]="option">
                {{ option }}
              </ion-select-option>
            </ion-select>
          </ion-item>

          <ion-button class="custom_button" expand="full" (click)="addGenre()">Agregar</ion-button>
        </ion-col>
      </ion-row>

      <ion-row *ngIf="genres.length > 0">
        <ion-col>
          <ion-list>
            <ion-item *ngFor="let genre of genres; let i = index">
              <p>{{ genre.name }} - {{ genre.type }}</p>
              <ion-button fill="clear" color="danger" (click)="removeGenre(i)">
                Eliminar
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>

      <!-- Mensaje si no hay géneros -->
      <ion-row *ngIf="genres.length === 0">
        <ion-col>
          <ion-item>
            <ion-label class="alert">No hay géneros agregados.</ion-label>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-textarea
            class="custom-colorLabel"
            label="Sinopsis"
            labelPlacement="floating"
            [(ngModel)]="synopsis"
            name="synopsis"
          />
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-textarea
            class="custom-colorLabel"
            label="Background"
            labelPlacement="floating"
            [(ngModel)]="background"
            name="background"
          />
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-button class="custom_button" expand="full" (click)="sendAnime()"> Crear. </ion-button>
  </form>
</div>
