<ion-content [fullscreen]="true">
  <ion-card class="custom-width">
    <img [alt]="altImage" [src]="image" />
    <ion-card-header>
      <ion-label position="floating">Título:</ion-label>
      <ion-input type="text" [ngModel]="anime" (ionChange)="onChangeElement('anime', $event.detail.value)"></ion-input>
      <ion-label position="floating">Tipo:</ion-label>
      <ion-input type="text" [ngModel]="type" (ionChange)="onChangeElement('type', $event.detail.value)"></ion-input>
    </ion-card-header>
    <ion-card-content>
      <ion-label position="floating">Descripcion:</ion-label>
      <ion-textarea [ngModel]="description" (ionChange)="onChangeElement('description', $event.detail.value)" class="textarea"></ion-textarea>
    </ion-card-content>
    <ion-list color="primary" class="text-center">
      <ion-item>
        <ion-label position="floating">Personaje principal</ion-label>
        <ion-input type="text" [ngModel]="personajePrincipal" (ionChange)="onChangeElement('personajePrincipal', $event.detail.value)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label>Fecha de emisión</ion-label>
        <ion-text (click)="onChangeState()"> {{fechaEmision}} </ion-text>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Capitulos</ion-label>
        <ion-input type="number" [ngModel]="capitulos" (ionChange)="onChangeElement('capitulos', $event.detail.value)"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label > Estado: </ion-label>
        <ion-text> {{finalizado ? "Finalizado" : "En Emisión"}} </ion-text>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button class="button" (click)="showData()"> Confirmar edición. </ion-button>
  <div [class]="state">
      <ion-button (click)="onChangeState()" class="absolute"> X </ion-button>
      <ion-datetime [value]="fechaEmision" (ionChange)="onChangeElement('fechaEmision', $event.detail.value?.toString(), $event)"></ion-datetime>
  </div>
</ion-content>
